<nav class="site-nav">
  <ul>
    {% for item in site.data.navigation.navigation %}
      {% if item.hidden %}
        {% continue %}
      {% endif %}
      <li>
        <a 
          href="{{ item.url | relative_url }}" 
          class="
            {% if item.url == '/' %}
              {% if page.url == '/' %}active{% endif %}
            {% else %}
              {% if page.url == item.url or page.url contains item.url and page.url | slice: 0, item.url.size == item.url %}
                active
              {% endif %}
            {% endif %}
          "
        >
          {{ item.label }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
