/* Addapted from https://gist.github.com/KettLovahr/a459e8e9824880f9e038cd424d9c80c1 found at anniesden.dev */

.stamp {
  perspective: min(800px, 80vw);
  position: relative;
  z-index: 0;
}

.stamp:hover {
  z-index: 1000;
}

.stamp-inner {
  display: inline-block;
  transform-style: preserve-3d;
  transition: transform 0.1s ease, filter 0.1s ease;
  will-change: transform;
}
