/* ------------------------------------------
   CSS VARIABLES
------------------------------------------ */

:root {
	--green: #ce4efc;
	--green-alpha-35: rgba(206, 78, 252, 0.35);
	--green-alpha-45: rgba(206, 78, 252, 0.45);
	--green-alpha-35: rgba(206, 78, 252, 0.35);
	--green-alpha-30: rgba(206, 78, 252, 0.30);
	--green-alpha-25: rgba(206, 78, 252, 0.25);
	--green-alpha-12: rgba(206, 78, 252, 0.12);
	--green-alpha-05: rgba(206, 78, 252, 0.05);
	--black-alpha-40: rgba(0, 0, 0, 0.4);
	--black-alpha-18: rgba(0, 0, 0, 0.18);
	--black-alpha-70: rgba(0, 0, 0, 0.7);
	--text-color: #eaeaea;
	--text-light: #f8f8f2;
	--text-muted: #b4b4b4;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--green);
}
